* {
  font-family:
    'Montserrat',
    sans-serif;
  font-weight: bold;
  color: #fa7f12;
}

.logo {
  position: absolute;
  left: 35%;
  top: 100%;
  width: 8rem;
  height: 8rem;
}

.help-block {
  color: red;
  font-size: 15px;
  font-weight: normal;
}

th,
td {
  color: black;
  font-size: 15px;
  font-weight: normal;
}

.hide {
  display: none;
}

.title {
  font-size: 30px;
}

.changePw {
  background-color: #fa7f12;
  border: black 1px solid;
  padding: 4px;
  text-decoration: none;
}

.calendar {
  background-color: white;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.calendar .dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  color: #1caff6;
  text-align: center;
  font-size: 14pt;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  width: 160px;
  left: 0;
  z-index: 2000;
}

.calendar .dropdown .dropdown-item {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.5s opacity;
}

.calendar .dropdown .dropdown-item:hover {
  opacity: 1;
}

.calendar .years {
  display: none;
}

.calendar .title {
  text-align: center;
  font-size: 20pt;
}

.calendar .calendar-btn {
  float: left;
  background-color: #24aeff;
  color: white;
  text-align: center;
  font-size: 14pt;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  width: 20%;
  cursor: pointer;
  transition: 0.5s background-color;
}

.calendar .calendar-btn:hover {
  background-color: #1f71a1;
}

.calendar .year-btn {
  float: right;
}

.calendar .calendar-dates .days .day {
  float: left;
  width: 12%;
  margin: 1%;
  padding: 1%;
  font-size: 13pt;
  text-align: center;

  /* border-radius: 10px;
  border: solid 1px #ddd; */
}

.calendar .calendar-dates .days .day.blank {
  background-color: white;
  border: none;
}

.calendar .calendar-dates .days .day.selected {
  background-color: #1caff6;
  color: white;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s opacity;
}

.calendar .calendar-dates .days .day.selected:hover {
  opacity: 1;
}

.calendar .calendar-dates .days .day.label {
  height: 40px;
  background-color: white;
  color: black;
  border: none;
  font-weight: bold;
}

.clear {
  clear: both;
}

.availableAppt {
  color: red;
}

.homeBtn {
  color: white;
  text-decoration: none;
}
