* {
  font-family:
    'Montserrat',
    sans-serif;
  font-weight: bold;
  color: #fa7f12;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.help-block {
  color: red;
  font-size: 15px;
  font-weight: normal;
}

th,
td {
  color: black;
  font-size: 15px;
  font-weight: normal;
}

.hide {
  display: none;
}

.title {
  font-size: 30px;
}
